<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:application.properties"/>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置mybatis的sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描mappers.xml文件 -->
        <!--<property name="mapperLocations" value="classpath:mappers/*.xml"></property>-->
        <!-- mybatis配置文件 -->
        <property name="configLocation" value="classpath:xmlConfig/mybatis-config.xml"/>
    </bean>

    <bean id="catDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="acmr.springframework.xml.dao.CatDao"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="cat" class="acmr.springframework.xml.entity.Cat"/>
    <bean id="catSrv" class="acmr.springframework.xml.service.CatService"/>
    <bean id="ezCatSrv" class="acmr.springframework.xml.service.EzCatService">
        <property name="catDao" ref="catDao"/>
    </bean>
</beans>